@font-face {
    font-family: OpenSans;
    src: url('/static/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('/static/fonts/OpenSans-LightItalic.ttf');
    font-style: italic;
}


@font-face {
    font-family: BebasNeue;
    src: url('/static/fonts/BebasNeue.otf');
}


/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
    background-size: cover;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    min-height:100%;
    /* background-repeat: no-repeat; 
    background-size: 100%; */
    background-attachment: fixed;
}

body {
    background-color: black;
}

a {
 color:white;
}

.content-b a {
   color: black;
   font-weight: bold;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
}

/* content centering styles */
.content-a {
    display:table;
}

.content-a-text {
    width: 400px;
    background-color: black;
}

.content-b-title {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align: center;
}

.content-b-title .box {
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    margin: auto;
}

.content-b-title .box-pong {
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    width: 400px;
    height: 200px;
    margin: auto;
    position: relative;
}

.content-b-title .box-pong canvas {
  top: 0;
  left: 0;
  position: absolute;

}


.content-b-title h1 {
    font-family: BebasNeue;
    font-size: 45px;
    color: #fff;
}

.content-b-title h2 {
    font-family: BebasNeue;
    font-size: 25px;
    color: #fff;
}

.content-b {
/*    display:table-cell; */
    position:relative;
    vertical-align:middle;
    text-align: center;
/*    width: 90%;
    max-width: 750px; */
    margin: auto;
    font-family: OpenSans;
/*    background-color: white; */
    padding: 40px 60px;
    font-size: 110%;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:18px;
/*    line-height:100px; */
    color:#000;
    text-align:center;
}
section {
    background:#9ed100;
}
.not-fullscreen {
    height:40%;
}

.dark-back { 
  background-color: rgba(0,0,0,0.7);
}

.center {
  text-align: center;
}

.white-description {
  background-color: rgba(255,255,255,0.9);
  padding: 40px 60px;
  text-align: left;
}

.white-description.full {
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  width: 80%;
  margin: auto;
}


.bottom {
  height: 50px;
}

.bottom a {
  text-decoration: none;
}

.bottom h1 {
  text-shadow: 2px 3px #000;
  color: white;
  background-color: rgba(0,0,0,0.2);
  width: 20%;
  margin: auto;
}

.bottom h1:hover {
  color: black;
  background-color: rgba(255,255,255,0.2);
}
 
#menu { 
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    vertical-align: middle;
    z-index: 10;
}

#menu img {
    height: 50%;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    opacity: 0.6;
}

.figure {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name {
    font-family: BebasNeue;
    float: left;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 20px;
    color: rgba(255,255,255, 0.8);
    position: relative;
}

.vimeo {
    width: 600px;
    float:left;
}

.vimeo-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.vimeo-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#art-menu {
    font-family: BebasNeue;
    float: right;
    height: 100%;
    line-height: 22px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgba(255,255,255, 0.8);
    position: relative;
}

#art-menu:hover {
    background-color: rgba(255,255,255, 1);
    color: black;
}

#art-menu ul {
  padding: 0;
  top: 62px;
  position: absolute;
  right: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  line-height: 20px;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#art-menu:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  background: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.6);
}

#art-menu:hover ul li:hover  {
  background-color: rgba(255,255,255, 0.7);
}

#art-menu:hover ul li:hover a:link {
  font-size: 18px;
  color: black;
}

#art-menu a {
  width: 100%;
  display: block;

}

#art-menu:hover ul li a:link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

#art-menu:hover ul li a:hover {
  color: #0068BD;
}


.fullvideo {
  padding-top: 100px;
}

.vimeo-links {
  background-color: rgba(0,0,0,0.8);
  padding: 20px 0;
  color: white;
}

.vimeo-links  a:link {
  color: white;
  font-size: 30px;
}

.vimeo-links  a:hover {
  color: white;
  font-size: 30px;
}

.vimeo-links  a:visited {
  color: white;
  font-size: 30px;
}

.navbar {
   background-color: rgba(0,0,0,0.5);
}

.navbar-header {
   width: 100%;
}

.navbar-brand {
	color: white;

}

.navbar-brand:hover {
	color: white;
	text-decoration: underline;
}
 
 
.navbar-brand {
   font-family: BebasNeue;
}

.nav li {
  font-size: 16px;
}

.navbar .nav li a {
  font-size: 16px;
  font-family: BebasNeue;
}

.nav li a:hover, a:focus {
  color: black;
}

