<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edgar Zanella Alvarenga - Portfolio</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/article.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.min.css') }}">
</head>
<body class="background" {% if tvars['background'] %} style="background-image:url('{{ tvars['background'] }}');" {% endif %}>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('page', path='/') }}" class="navbar-brand">portfolio://Edgar-Zanella-Alvarenga</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>

<!--

<div id="menu">
    <a class="name" href="/">Portfolio://Edgar Zanella Alvarenga</a>
    <div id="art-menu">
    Works 
    <ul>
        <li><a href="/CoisaLida">Coisa Lida</a></li>
        <li><a href="/MostraBlack">Mostra Black</a></li>
        <li><a href="/StoriesMachine">Stories Machine</a></li>
        <li><a href="/AgresteMagazine">Agreste Magazine</a></li>
        <li><a href="/PongRevisited">Pong Revisited</a></li>
        <li><a href="/PentatonicElevator">Pentatonic Elevator</a></li>

    </ul>
    </div>
</div>
-->
<div class="not-fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b-title">
            <div class="box">
                <h1>{{ tvars.title }}</h1>
                <h2>{{ tvars.subtitle }}</h2>
            </div>
       </div>
    </div>
</div>
<div class="fullscreen background parallax">
 <div class="content-a">
   <div class="content-b dark-back" data-img-width="1600" data-img-height="1064" data-diff="100">
   <div class="vimeo">
   <div class="vimeo-wrapper" >
   <iframe src="https://player.vimeo.com/video/26053412" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
   </div>
   </div>
   <div class="white-description" style="float: left">
   <img src="/static/img/github.svg" width="50px">
   <p>
   Work done in Processing + Android.  
   <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet dui et interdum vulputate. Morbi nec dolor tincidunt, aliquet enim nec, pretium mi. Praesent libero urna, egestas sed ornare eleifend, malesuada eget eros. Praesent facilisis urna ex, sed pharetra felis laoreet nec. Praesent venenatis, turpis ac gravida vestibulum, elit neque scelerisque quam, quis fringilla odio urna eu nisi. Maecenas vitae feugiat ipsum. Curabitur maximus lectus accumsan libero sodales, luctus faucibus massa ultricies.
   <p>
Ut nec pretium lacus. Sed massa lacus, placerat a tellus eu, porta condimentum justo. Donec dictum consectetur nibh, quis semper leo efficitur ut. Donec convallis ante ac massa hendrerit, at consectetur diam hendrerit. Fusce vel laoreet lectus. Nam quis ultricies urna, at accumsan arcu. Proin et enim elementum, rutrum turpis sit amet, fringilla ex. Donec tincidunt at nibh quis pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar sit amet lectus ut ullamcorper. Curabitur faucibus euismod arcu vitae ultrices. Donec vel tortor ac tellus pretium volutpat sit amet ut risus. Vivamus imperdiet magna sem, id feugiat purus scelerisque vel. 
   </div>
   <div style="clear: both;">&nbsp;</div>
   </div>
 </div>
</div>
<div class="fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
       </div>
    </div>
</div>
<div class="fullscreen background parallax"style="background-image:url('/static/img/mostra-black-2.jpg');"  data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
       </div>
    </div>
</div>
<div class="fullscreen background parallax"style="background-image:url('/static/img/mostra-black-3.jpg');"  data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
       </div>
    </div>
</div>
<div class="not-fullscreen bottom">
    <div class="content-a">
        <div class="content-b">
		<a href="#"><h1>TOP</h1></a>
       </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/javascripts/article.js"></script>
</body>
</html>
