{% extends "work-base.html" %}
{% block workContent %}
  <div class="fullscreen background parallax">
   <div class="content-a">
     <div class="container content-b dark-back" data-img-width="1600" data-img-height="1064" data-diff="100">
         <div class="white-description">
           <div class="center">
           <iframe src="https://player.vimeo.com/video/129518547" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	   <p/>
           <a href="https://github.com/aivuk/CoisaLida"><img src="/static/img/github.svg" width="50px"></a>
           <p>
           Work done in openFrameworks + Kinect.  
           <p>
           </div>
	   <p>
	   It is a work by the artist <a href="http://www.lucasbambozzi.net/archives/3300">Lucas Bambozzi </a> exposed
           in the façade of FIESP building in Paulista avenue in São Paulo, Brazil.
	   </p>
	   <p>
           Poems by different authors was exposed in the building's LED façade, where the presentation rhythm and
           distortion of the words letters was controlled by the flux of people passing on the street. Intercalated
           with the words, it was exhibited short video frames or just the silhouette of people walking by the building's front.
           </p>
	   <p>
	   The work was done in C++ language using openFrameworks library and the people movent was captured using a Kinect camera.
	   </p>
	   
		
   </div>
  </div>
  </div>
  </div>
  </div>
  <div class="fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
          <div class="content-b">
         </div>
      </div>
  </div>
  <div class="fullscreen background parallax"style="background-image:url('/static/img/coisa-lida-5.jpg');"  data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
          <div class="content-b">
         </div>
      </div>
  </div>
  <div class="fullscreen background parallax"style="background-image:url('/static/img/coisa-lida-4.jpg');"  data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
          <div class="content-b">
         </div>
      </div>
  </div>
  <div class="fullscreen background parallax"style="background-image:url('/static/img/coisa-lida-3.jpg');"  data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
          <div class="content-b">
         </div>
      </div>
  </div>
{% endblock %}
