    <ul>
        <li><a href="/CoisaLida">Coisa Lida</a></li>
        <li><a href="/MostraBlack">Mostra Black</a></li>
        <li><a href="/StoriesMachine">Stories Machine</a></li>
        <li><a href="/AgresteMagazine">Agreste Magazine</a></li>
        <li><a href="/PongRevisited">Pong Revisited</a></li>
        <li><a href="/PentatonicElevator">Pentatonic Elevator</a></li>
        <li><a href="/Skate">Skate</a></li>
        <li><a href="/UspMuseums">Usp Museums</a></li>
        <li><a href="/VaiMudar">Vaimudar</a></li>
        <li><a href="/EuVoto">EuVoto</a></li>
        <li><a href="/Dialogando">Dialogando</a></li>
        <li><a href="/Mosaico">Mosaico Orçamentário</a></li>

    </ul>
