{% extends "work-base.html" %}
{% block workContent %}
  <div class="fullscreen background parallax">
   <div class="content-a">
     <div class="container content-b dark-back" data-img-width="1600" data-img-height="1064" data-diff="100">
         <div class="white-description">
           <div class="center">
           <iframe src="https://player.vimeo.com/video/129518547" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	   <p/>
           <a href="https://github.com/aivuk/raspberry_piano"><img src="/static/img/github.svg" width="50px"></a>
           <p>
           Work done in Python + Raspberry Pi + Arduino.  
           <p>
           </div>
  Lor      em ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet dui et interdum vulputate. Morbi nec dolor tincidunt, aliquet enim nec, pretium mi. Praesent libero urna, egestas sed ornare eleifend, malesuada eget eros. Praesent facilisis urna ex, sed pharetra felis laoreet nec. Praesent venenatis, turpis ac gravida vestibulum, elit neque scelerisque quam, quis fringilla odio urna eu nisi. Maecenas vitae feugiat ipsum. Curabitur maximus lectus accumsan libero sodales, luctus faucibus massa ultricies.
           <p>
  Ut       nec pretium lacus. Sed massa lacus, placerat a tellus eu, porta condimentum justo. Donec dictum consectetur nibh, quis semper leo efficitur ut. Donec convallis ante ac massa hendrerit, at consectetur diam hendrerit. Fusce vel laoreet lectus. Nam quis ultricies urna, at accumsan arcu. Proin et enim elementum, rutrum turpis sit amet, fringilla ex. Donec tincidunt at nibh quis pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar sit amet lectus ut ullamcorper. Curabitur faucibus euismod arcu vitae ultrices. Donec vel tortor ac tellus pretium volutpat sit amet ut risus. Vivamus imperdiet magna sem, id feugiat purus scelerisque vel. 
   </div>
  </div>
  </div>
  </div>
  </div>
  <div class="fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="100">
      <div class="content-a">
          <div class="content-b">
         </div>
      </div>
  </div>
{% endblock %}
