{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/CoisaLida"><img src="/static/img/coisa-lida-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/MostraBlack"><img src="/static/img/mostra-black-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/StoriesMachine"><img src="/static/img/maquina-historias-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/PongRevisited"><img src="/static/img/pong-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/AgresteMagazine"><img src="/static/img/agreste-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/PentatonicElevator"><img src="/static/img/elevator-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/Skate"><img src="/static/img/skate-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/dialogando-bthumb.jpg">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/AgresteMagazine"><img src="/static/img/vaimudar-bthumb.jpg"></a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/usp-museums-bthumb.jpg">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/euvoto-bthumb.jpg">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/mosaico-bthumb.jpg">
  </div>
</div>


{% endblock content %}
