{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/CoisaLida"><img src="/static/img/coisa-lida-bthumb.jpg"></a>
    <div class="legend">
    Coisa Lida
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/MostraBlack"><img src="/static/img/mostra-black-bthumb.jpg"></a>
    <div class="legend">
    Mostra Black
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/StoriesMachine"><img src="/static/img/maquina-historias-bthumb.jpg"></a>
    <div class="legend">
    Stories Machine
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/PongRevisited"><img src="/static/img/pong-bthumb.jpg"></a>
    <div class="legend">
    Pong Revisited
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
    <a href="/AgresteMagazine">
      <div class="image-box">
        <img src="/static/img/agreste-bthumb.jpg">
      </div>
    </a>
    <div class="legend">
    Agreste Magazine
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/PentatonicElevator"><img src="/static/img/elevator-bthumb.jpg"></a>
    <div class="legend">
    Pentatonic Elevator
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/Skate"><img src="/static/img/skate-bthumb.jpg"></a>
    <div class="legend">
    Skate
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/dialogando-bthumb.jpg">
    <div class="legend">
    Dialogando
    </div>
 
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <a href="/AgresteMagazine"><img src="/static/img/vaimudar-bthumb.jpg"></a>
    <div class="legend">
    VaiMudar
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/usp-museums-bthumb.jpg">
    <div class="legend">
    USP Museums
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/euvoto-bthumb.jpg">
    <div class="legend">
    EuVoto
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 img-responsive">
  <img src="/static/img/mosaico-bthumb.jpg">
    <div class="legend">
    Public Spend Mosaic
    </div>
 
  </div>
</div>


{% endblock content %}
